.DS_Store
Show Me Prototype/Library
Show Me Prototype/UserSettings
Show Me Prototype/Temp
Show Me Prototype/Logs
Show Me Prototype/.idea
Show Me Prototype/Library
Show Me Prototype/Assembly-CSharp.csproj
Show Me Prototype/obj
Show Me Prototype/mono_crash.27bb80e4c6.0.json
Show Me Prototype/mono_crash.27bb80e4c6.1.json
Show Me Prototype/mono_crash.293cbfcf80.0.json
